* {
    font-family: Robots, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.input-form {
    display: flex;
    gap: 10px;
    text-align: center;
}

.input1,
.input2 {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;
}